footer{
    display: grid;
    position: fixed;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    background-color: black;
    text-align: center;
    color: aliceblue;
    font-size: small;
    bottom: 0;
    width: 100%;
    opacity: 90%;
}

.info{
    margin-left: 5%;
}


img[alt=""]{
    width: 15px;
    height: 15px;
}


@media screen and (max-height: 320px){
    footer {
        display: none;
    }
}
